.nav-item:hover {
    font-size: 18px;
}

body {
    font-family: Arial, sans-serif;
}

.top {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
}

#home {
    background-color: #fccfef;
}

.presentacion {
    padding-top: 20%;
    font-family: fantasy;
    font-weight: bolder;
    color: rgb(51, 0, 35);
}

@media (max-width: 1368px) {
    /* Para tablets y pantallas medianas */
    .presentacion h1 {
        font-size: 6vw !important;
        padding-top: 20%;
    }
}

@media (max-width: 1024px) {
    /* Para tablets y pantallas medianas */
    .presentacion h1 {
        font-size: 8vw !important;
    }
}

@media (max-width: 820px) {
    /* Para tablets y pantallas medianas */
    .presentacion h1 {
        font-size: 12vw !important;
    }
}

@media (max-width: 768px) {
    /* Para tablets y pantallas medianas */
    .presentacion h1 {
        font-size: 12vw !important;
        padding-top: 40%;
    }
}

@media (max-width: 480px) {
    /* Para móviles y pantallas pequeñas */
    .presentacion h1 {
        font-size: 16vw !important;
    }
}

h1 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw !important;
}

.parrafo-top {
    color: white;
    font-family: monospace;
}

h2 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw !important;
    color: rgb(51, 0, 35);
}

.sobre-mi {
    background-color: #ffddf5;
    padding-top: 2%;
    padding-bottom: 2%;
}

.sobreMi-p {
    text-align: center;
    color: black;
    font-family: 'Gill Sans MT';
    font-size: 20px;
    margin: auto;
    width: 70%;
    padding: 10px;
}

.fa-brands{
    height: 5%;
    width: auto;
}

i {
    color: rgb(51, 0, 35);
    text-decoration: none;
    font-size: 20px;
}

i:hover {
    color: #af0989;
    font-size: 30px;
}

#habilidades {
    padding: auto;
}

.habilidad {
    height: 160px;
    width: auto;
}

.card:hover {
    border: 2px solid rgb(151, 3, 104);
}

.card-title{
    font-weight: bold;
}

#proyectos {
    padding: auto;
}

.mapa p{
    font-size: 1.25rem;
}

.contacto {
    padding-bottom: 30px;
    background-color: #f1ecf0;
}

.bg-img {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    /* height: 800px;
    width: auto; */
}

.img-ability {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

footer {
    background: #343a40;
    color: white;
}